# Project exclude paths
/.gradle/
/Linear Equations Solver/task/build/
/Linear Equations Solver/task/out/
/Linear Equations Solver/task/out/production/classes/
/Linear Equations Solver/task/out/test/classes/
/Problems/Square of a circle/out/
/Problems/Square of a circle/out/production/classes/